body {
  font-family: 'Roboto', sans-serif;
}
#double-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-side {
  background-image: url("leaf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60vw;
}

p {
  margin: 0;
}